$primary-text-color: #ffffff;
$secondary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-hover: #188ce8;
$accent-background-color: #2196f3e6;
$secondary-background-color: #2f303a;
$our-team-color: #f5f4fa;
$header-border-color: #ececec;
$portfolio-cards-border-color: #eeeeee;
$default-icon-color: #afb1b8;
$footer-icons: #ffffff1a;
$what-we-do-background-color: #2f303acc;
$backdrop-bg-color: #00000033;
$modal-btn-close-color: #000000;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);