/*  */
/* Portfolio Page */
.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio__btn-list {
    @extend %list;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;

    .portfolio__btn-name {
            padding-top: 6px;
            padding-right: 22px;
            padding-bottom: 6px;
            padding-left: 22px;
        }
}

.portfolio__btn-item+.portfolio__btn-item {
    margin-left: 8px;
}
.portfolio__btn-name {
    background-color: $our-team-color;
    color: $title-text-color;
    border-radius: 4px;
    border: transparent;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    /* identical to box height, or 162% */
    text-align: center;
    cursor: pointer;
    transition: background-color 250ms $transition-function,
    color 250ms $transition-function, box-shadow 250ms $transition-function;
    
    &:hover, &:focus, &--active{
        color: $primary-text-color;
            background-color: $accent-color;
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    }

.portfolio__project-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
}

.portfolio__project-item:nth-child(3n + 2) {
    margin-left: 30px;
    margin-right: 30px;
}

.portfolio__project-item:nth-child(n + 4) {
    margin-top: 30px;
}

.portfolio__project-link {
    @extend %link;
    display: block;
    transition: box-shadow 250ms $transition-function;

    &:hover, &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
            transform: translateY(0%);
    }
}

.portfolio__project-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio__project-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;

    text-align: left;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    background-color: $accent-background-color;
    color: $primary-text-color;

    transform: translateY(100%);
    transition: transform 250ms $transition-function;

    .portfolio__project-link:hover &{
        transform: translateY(0);
    }
    .portfolio__project-link:focus &{
        transform: translateY(0);
    }
}

.portfolio__project-description {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    border-bottom: 1px solid $portfolio-cards-border-color;
    border-left: 1px solid $portfolio-cards-border-color;
    border-right: 1px solid $portfolio-cards-border-color;
}

.portfolio__project-name {
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.portfolio__project-type {
    color: $secondary-text-color;
    font-size: 16px;
    line-height: 1.88;
}

.portfolio--visually-hidden{
    @extend %visually-hidden;
}