/* Our-Team Section */
.our-team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: $our-team-color;
}

.our-team__list {
    @extend %list;
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-team__description-container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 32px;
    padding-left: 32px;
}

.our-team__item {
    background-color: $primary-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    & + &{
    margin-left: 30px;
    }
}

.our-team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: $title-text-color;
    margin-bottom: 10px;
}

.our-team__position-name {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
}

.our-team__social-list {
    @extend %list;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 16px;
}

.our-team__social-link {
    @extend %link;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    fill: $default-icon-color;
    border-radius: 50%;
    transition: fill 250ms $transition-function,
    background-color 250ms $transition-function;

    &:hover, &:focus{
    fill: $primary-text-color;
    background-color: $accent-color;
    }
    
}

.our-team__social-item:not(:last-child) {
    margin-right: 10px;
}