/* About-Us Section */
.about-us {
    display: none;
    @media screen and(min-width:480px) {
    font-size: 26px;
    }

    @media screen and(min-width:768px) {

    }

    @media screen and(min-width:1200px) {
    padding-top: 0px;
    padding-bottom: 94px;
    display: block;
    }
    
}

.about-us__list {
    @extend %list;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us__item + .about-us__item {
    margin-left: 30px;
}

.about-us__card-container {
    position: relative;
}

.about-us__text-container {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    background-color: $what-we-do-background-color;
}

.about-us__text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.14;
    color: $primary-text-color;
}