.backdrop {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-bg-color;

    opacity: 1;
    transition: opacity 350ms $transition-function;
}

.backdrop__is-hidden {
    opacity: 0;
    pointer-events: none;

    .backdrop__modal{
    transform: translate(-50%, -50%) scale(0.8);
    }
}

.backdrop__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;

    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $transition-function;

    width: 528px;
    height: 581px;

    background-color: $primary-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.backdrop__modal-btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;

    fill: $modal-btn-close-color;
    background: $primary-text-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;

    transition: fill 250ms $transition-function;

    &:hover, &:focus {
    fill: $accent-color;
    }
}

.backdrop__text {
    display: block;
    text-align: center;
    margin-bottom: 12px;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.17;
    color: $title-text-color;
}